<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622716077511-sfvemdo4r3ie3neecngbom73ccg97tro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622716077511-sfvemdo4r3ie3neecngbom73ccg97tro</string>
	<key>API_KEY</key>
	<string>AIzaSyA5vpPvuZWAJQPmcM3lQm_nyrsrvLD8mJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>622716077511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzee</string>
	<key>PROJECT_ID</key>
	<string>buzee-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>buzee-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622716077511:ios:2f3e2da351bd799efa85e2</string>
</dict>
</plist>